

* {
  box-sizing: border-box;
}

.error {
  display: none;
  position: relative;
  padding: 9px 18px;
  width: 250px;
  height: 35px;
  border: none;

	background-color: rgb(247, 82, 82);
	color: white;

	font-family: sans-serif;
	text-decoration: none;
	font-size: 0.9em;
	text-align: center;
  text-indent: 15px;
  border-radius: 3px;
}

.buttonDownload {
  display: none;
  border: none;
	position: relative;
  padding: 9px 18px;
  margin: 1%;

	background-color: rgb(100, 61, 133);
	color: white;

	font-family: sans-serif;
	text-decoration: none;
	font-size: 0.9em;
	text-align: center;
  text-indent: 15px;
  border-radius: 5px;
}

.buttonDownload:hover {
	background-color: rgb(125, 45, 201);
	color: white;
}

.buttonDownload:before, .buttonDownload:after {
	content: ' ';
	display: block;
	position: absolute;
	left: 15px;
	top: 52%;
}

/* Download box shape  */
.buttonDownload:before {
	width: 10px;
	height: 2px;
	border-style: solid;
	border-width: 0 2px 2px;
}

/* Download arrow shape */
.buttonDownload:after {
	width: 0;
	height: 0;
	margin-left: 3px;
	margin-top: -7px;

	border-style: solid;
	border-width: 4px 4px 0 4px;
	border-color: transparent;
	border-top-color: inherit;

	animation: downloadArrow 2s linear infinite;
	animation-play-state: paused;
}

.buttonDownload:hover:before {
	border-color: rgb(238, 241, 237);
}

.buttonDownload:hover:after {
	border-top-color: rgb(255, 185, 81);
	animation-play-state: running;
}

/* keyframes for the download icon anim */
@keyframes downloadArrow {
	/* 0% and 0.001% keyframes used as a hackish way of having the button frozen on a nice looking frame by default */
	0% {
		margin-top: -7px;
		opacity: 1;
	}

	0.001% {
		margin-top: -15px;
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		margin-top: 0;
		opacity: 0;
	}
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #cc8533;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 2px;
}

.button:hover {
  background-color: #ec8610;
}

/*btttttntntntntntntntntntntnt */

body {
  font-family: "Trebuchet MS";
  padding: 10px;
  background: #fff9f2;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login_container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  margin-right: 10px;
  float: right;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
/* Header/Blog Title */
.header {
  padding: 15px;
  text-align: center;
  background: white;
  border-radius: 5px;
  border: 5px solid #e9d9ff;
}

.header h1 {
  font-size: 50px;
  color: #4a0d75
}

#myBar1 {
  height: 30px;
  width: 0%;
  color: white;
  display: inline;
  /* padding: 5px 40px; */
  border-radius: 4px;
  background-color: #4a0d75;
  text-align:center;
  padding-top : 3px;
  padding-bottom: 3px;
}

#myBar2 {
  height: 30px;
  width: 0%;
  color: white;
  display: inline;
  /* padding: 5px 40px; */
  border-radius: 4px;
  background-color: #4a0d75;
  text-align:center;
  padding-top : 3px;
  padding-bottom: 3px;
}

#myBar3 {
  height: 30px;
  width: 0%;
  color: white;
  display: inline;
  /* padding: 5px 40px; */
  border-radius: 4px;
  background-color: #4a0d75;
  text-align:center;
  padding-top : 3px;
  padding-bottom: 3px;
}

#myBar4 {
  height: 30px;
  width: 0%;
  color: white;
  display: inline;
  /* padding: 5px 40px; */
  border-radius: 4px;
  background-color: #4a0d75;
  text-align:center;
  padding-top : 3px;
  padding-bottom: 3px;
}

#demo {
  display: inline-block;
  margin-right: 20px
}

/* Add a card effect for articles */
.card {
  background-color: #e9d9ff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 5px;
  text-align: center;
  background: #fff9f2;
  margin-top: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
